name: Continuos Integration with Github

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: Log in to Docker hub
        uses: docker/login-action@v1
        with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Setup Java JDK
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
          
      - name: Build Eureka Naming Server Container Image
        working-directory: ./containerization-naming-server
        run: mvn spring-boot:build-image -DskipTests
        
      - name: Build API Gateway Container Image
        working-directory: ./containerization-api-gateway
        run: mvn spring-boot:build-image -DskipTests
      
      - name: Build Cambio Microservice Jar
        working-directory: ./containerization-cambio-service
        run: mvn clean package -DskipTests
        
      - name: Build Book Microservice Jar
        working-directory: ./containerization-book-service
        run: mvn spring-boot:build-image -DskipTests
        
      - name: Docker Compoose Build
        working-directory: .
        run: docker-compose build

